[submodule "beautifulhugo"]
	path = beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini
